@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Oooh+Baby&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  
}

body {
    min-height: 100vh;
    min-height: 100svh; /* small viewport height */
    display: flex;
    justify-content: center;
    background: linear-gradient(
            rgba(187, 170, 187, 0.85),
            rgba(238, 224, 238, 0.95)
        );
    
}

.container{
    position: relative;
    overflow: hidden;
    width: 400px;
    max-width: 100%;
    min-height: 90%;

    /* Background agora dentro do container */
    background:
        linear-gradient(
            rgba(134, 113, 134, 0.85),
            rgba(134, 113, 134, 0.95)
        )
        /* url("./img/bg.jpg") center / cover no-repeat */;
        
}

.container::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.8' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.35'/%3E%3C/svg%3E");
    pointer-events: none;
    mix-blend-mode: overlay;
    
}
    
@media (min-width: 768px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container {
         /* remove margem, pois flex já centraliza */
        margin: 10px ;
        padding-bottom: 20px;
        /* padding: 20px; */
        border-radius: 10px;
        box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    }
    
    .cover {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

    }
    .share-btn{
        visibility: hidden;
    }
}
.cover {
    width: 100%;
    height: 150px; /* altura da capa */
    /* border-bottom: 3px SOLID rgba(255, 232, 255); */
    /* background: linear-gradient(
            rgb(182, 161, 182),
            rgb(255, 232, 255)
        ); */
    position: relative;
 

}
/* .cover::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='5.8' numOctaves='4'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)' opacity='0.35'/%3E%3C/svg%3E");
    pointer-events: none;
    mix-blend-mode: overlay;
    
} */
.share-btn {
    visibility: hidden;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: rgba(134, 113, 134, 0.85);
}

.share-btn:hover {
  background: none;
  color: white;
}

.share-btn svg {
  width: 24px;
  height: 24px;
  stroke: #000; /* cor do ícone */
}
.container-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin-top: -80px;
}
.img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-image: url("./img/perfil.jpeg");
    background-size: cover;
    background-position: center;
    border: 3px solid rgb(94, 79, 94); 
}
header {

  text-align: center; 
  margin-top: 5px;   
  font-size: 9px;
  font-weight: 300;
  
 
  
}
h1 {
    /* font-family: "Cinzel", serif; */
    align-items: center;
    justify-content: center;
      margin-left: 12px;
    margin-top: 25px;
    font-size: 25px;
    font-weight: 500;
    color: white;
    letter-spacing: 3px;
    text-transform: uppercase;
    
}

.bio {
   
    margin-top: 2px;
    font-weight: 500;
    font-size: 12px;
    word-spacing: 1.1em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    justify-content: center;
    font-family: "Cinzel", serif;
    /* font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal; */
    
}

.final {
    font-family: "Cinzel", serif;
    justify-content: center;
    font-weight: 500;
    word-spacing: -1px;
}


.container-botao {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    gap: 10px;
    
}
.botoes{
    border-radius: 7px;
    width: 90%;
    height: 45px;
    background-color: #d7c0d7;
    text-decoration: none;
    color: #5d4a5e;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
-webkit-box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.29); 
box-shadow: 2px 2px 15px -2px rgba(0, 0, 0, 0.29);
}
    .botoes i {
        margin-left: 10px;
        font-size: 25px;
    }
    .botoes p {
        flex: 0.88;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
    }


.botoes:hover {
    background-color: #ffe7ff;
    transform: scale(1.005);
    color: black;
}
.botoes:focus {
    outline: 2px solid white;
}

a {
    text-decoration: none; /* remove o sublinhado */
    color: inherit;         /* herda a cor do elemento pai */
    display: flex;
    -webkit-tap-highlight-color: transparent; /* remove o efeito azul no toque */
}
/* Overlay escuro */
#overlay {
    z-index: 9999;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;            /* inicial invisível */
  pointer-events: none;  /* impede clique quando invisível */
  transition: opacity 0.3s ease; /* transição suave */
}

#overlay.show {
  opacity: 1;            /* visível */
  pointer-events: auto;  /* agora pode clicar */
}

/* Caixa central */
.modal {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  transform: scale(0.9);           /* inicia um pouco menor */
  transition: transform 0.3s ease; /* animação suave */
}

#overlay.show .modal {
  transform: scale(1); /* cresce suavemente */
}

/* QR Code */
.modal img {
  width: 200px;
}

/* Botão fechar */
#close {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 22px;
  cursor: pointer;
}
#pixKey {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
  text-align: center;
  font-size: 14px;
  background-color: #f5f7fa;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  color: #333;
}

#copyPix {
  background-color: #00c853; /* verde PIX */
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}
#copyPix:hover {
  background-color: #00b248;
}